<footer class="bo-footer" role="contentinfo">
  <div class="bo-footer-inner">
    <div class="bo-footer-entity">{{ app_entity.full }}</div>

    <div class="bo-footer-version d-none d-md-flex">
      {% if app_ref_url %}
        <a href="{{ app_ref_url }}" target="_blank" rel="noopener noreferrer" title="Vai al repository GitHub">
          <i class="fab fa-github" aria-hidden="true"></i>
          <span>GovPayInteractionLayer {{ app_version_label }}</span>
        </a>
      {% else %}
        <span>
          <i class="fab fa-github" aria-hidden="true"></i>
          <span>GovPayInteractionLayer {{ app_version_label }}</span>
        </span>
      {% endif %}
    </div>

    <div class="bo-footer-brand d-none d-md-block">
      <img src="/img/logo-pagopa-bianco.svg" alt="PagoPA" class="bo-footer-pagopa-logo">
    </div>
  </div>
</footer>
